@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background-1: oklch(85.85% 0.057 285.15); /* #CCCCF5 */
  --background-2: oklch(96.41% 0.018 227.28); /* #E7F6FD */
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(48.94% 0.23 275.42); /* #4640DE */
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(31.77% 0.048 262.86); /* #25324B */
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-1: oklch(
    69.71% 0.16874612021686872 246.46719395860552
  ); /* #26A4FF */
  --accent-2: oklch(82.88% 0.1575938796287773 77.4935308074795); /* #FFB836 */
  --accent-3: oklch(77.18% 0.117 172.58); /* #56CDAD */
  --accent-4: oklch(
    69.98% 0.19178183728028667 30.338025709902254
  ); /* #FF6550 */
  --accent-5: oklch(60.57% 0.224 285.06); /* #7B61FF */
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(89.64% 0.021 264.46); /* #D6DDEB */
  --input: oklch(89.64% 0.021 264.46);
  --text-1: oklch(61.18% 0.025 263.12); /* #7C8493 */
  --text-2: oklch(47.03% 0.035 264.16); /* #515B6F */
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* container */
  --container-max-width-sm: 640px;
  --container-max-width-md: 768px;
  --container-max-width-lg: 1024px;
  --container-max-width-xl: 1280px;
  --container-max-width-2xl: 1536px;
}

.container {
  @apply mx-auto px-4;
  max-width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: var(--container-max-width-sm);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-max-width-md);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--container-max-width-lg);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container-max-width-xl);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: var(--container-max-width-2xl);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .active-nav-link::before {
    content: "";
    @apply w-full h-1 bg-primary absolute top-full;
  }

  .btn-with-outer-border {
    @apply relative sm:mr-4;
  }
  .btn-with-outer-border::after {
    content: "";
    left: calc(100% + 5px);
    @apply absolute top-0 h-full w-[1px] bg-border max-sm:left-0 max-sm:top-full max-sm:h-[1px] max-sm:w-full;
  }
}
